<!--
  Generated template for the BvPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="pageStatus == 1">
  <ion-navbar color="b2b">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <!--<span style="width: 10px;height:10px;border-radius: 100%;margin-top:-10px;margin-left:-10px;background-color:#2DC70D;" *ngIf="noticount > 0 || notiStatus"></span>-->
      <span style="width: 10px;height:10px;border-radius: 100%;margin-top:-10px;margin-left:-10px;background-color:#2DC70D;" *ngIf="notiStatus"></span>
    </button>
    <ion-title><span class="{{font}}">{{textData[0]}}</span></ion-title>
    <!--<ion-buttons end style="padding-left:15px;">
      <button ion-button icon-only (click)="goNotiList()">
        <ion-icon name="ios-notifications"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content >
  <div ion-fixed style="padding-top: 10px;" *ngIf="isLoading">
    <div align="center" ><ion-spinner name="circles" style="color: #EB6944;background-color: white;border-radius: 50%;"></ion-spinner></div>
  </div>   
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isLoading">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <div style="background: #dddddd;" *ngIf="nores == 1">
    <div  *ngFor="let d of menuList;let j = index">
      <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;" *ngFor="let i of d.menu_arr; let k = index">
          <ion-item>
            <!--<text-avatar text="B2B" item-left></text-avatar>-->
            <img item-left src="{{writerImg}}/{{i.perData.t16}}" *ngIf="i.perData.t16 != '' && i.perData.t16 !=null" (click)="writerProfile(i.perData)" onError="this.src = 'assets/images/user-icon.png'" style="width:48px;height: 48px;border-radius: 50%;object-fit: cover;">
            <text-avatar [text]="i.perData.t2" item-left *ngIf="i.perData.t16 == '' || i.perData.t16 == null" (click)="writerProfile(i.perData)"></text-avatar>
            <ion-row>
                <ion-col style="text-align: left;">
                    <h2 style="font-weight: bold;" class="{{font}}" (click)="writerProfile(i.perData)">{{i.perData.t2}}</h2>
                    <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" (click)="writerProfile(i.perData)">{{ i.modifiedDate}} at {{ i.modifiedTime}} </p>    
                </ion-col>
                <ion-col style="text-align: right;">
                  <ion-note item-end>
                      <button ion-button clear icon-right (click)="clickBookMark(i,j,k)">
                        <ion-icon *ngIf="i.showContent" name="ios-bookmark" style="color: #0474bc;" ></ion-icon>
                        <ion-icon *ngIf="!i.showContent" name="ios-bookmark" style="color: #bbb;" ></ion-icon>
                      </button>
                    </ion-note>
                </ion-col>
              </ion-row>
          </ion-item>
        <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">
        <div>
          <h2 class="{{font}}" style="padding: 7px 0px 7px 15px;font-weight:bold;">{{i.t1}}</h2>
        </div>
        <ion-card-content style="padding: 0px 15px 0px 15px;">
          <ion-card-title>
            <p class=" {{font}} emojisize" *ngIf="!i.showread " [innerHTML]="i.shMsg" (click)="continue(i)" ></p> <!-- [innerHTML]="i.shMsg" -->
            <p class="block-with-text {{font}} emojisize" *ngIf="i.showread "  [innerHTML]="i.shMsg" (click)="continue(i)" ></p>
            <p *ngIf="i.showread" style="color: #ACA2A2;font-size:1.6rem;" (click)="continue(i)" >Continue Reading</p>
            <div class="video-container" (click)="goVideoDetail(i)" *ngIf="(i.t8 || i.videoStatus) && nores == 1">
              <img id="projectplayer" src="{{i.videoLink}}" onError="this.src = 'assets/images/imgErr.png'" class="resize_fit_center"/>
              <button class="play" style="position: absolute;right: 45%;bottom: 40%;"><ion-icon name="play"></ion-icon></button>
            </div>
            <div class="video-container" *ngIf="(i.t8 || i.videoStatus) && nores == 0">
              <div style="border: 1px darkgray solid; height: 180px; width: 100%;text-align: center;padding-top: 80px;">
                <h4 style="color:#ccc;">No Internet Connection </h4>
              </div>
            </div>
          </ion-card-title>
        </ion-card-content>
        <!-- Show Photo -->
        <div *ngIf="i.t8 =='' && i.videoStatus == false">
          <div class="container" *ngIf="i.uploadedPhoto.length > 0; let id = index" (click)="continue(i)">
            <img src="{{photoLink}}{{i.uploadedPhoto[0].t7}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'">
          </div>
        </div>
        <ion-row style="font-size: 1.5rem;margin-top: 5px;margin-bottom: 5px;">
            <ion-col style="text-align: left;">
              <span style="margin-left: 15px;color: #0474bc;" *ngIf="i.n2 > 0 " (click)="getLikePerson(i)"><ion-icon name="ios-thumbs-up" ></ion-icon>&nbsp;&nbsp;{{i.n2}}</span>
            </ion-col>
            <ion-col style="text-align: right;">
              <span *ngIf="i.n3 == 1" class="{{font}}" style="color:#808080;margin-right: 15px;" (click)="comment(i,'comment')">{{i.n3}}&nbsp;Comment</span>
              <span *ngIf="i.n3 > 1" class="{{font}}" style="color:#808080;margin-right: 15px;" (click)="comment(i,'comment')">{{i.n3}}&nbsp;Comments</span>
            </ion-col>
          </ion-row>
        <hr style=" display: block; margin: 0px 3px; border: none; background-color: lightgrey;">
        <ion-row>
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-right style="padding: 0px;" (click)="clickLike(i,j,k)">
              <ion-icon *ngIf="i.showLike" name="ios-thumbs-up" style="color: #0474bc;" ></ion-icon>
              <ion-icon *ngIf="!i.showLike " name="ios-thumbs-up" style="color:#bbb;" ></ion-icon>
              <span *ngIf="i.showLike" style="text-transform: none; color:#0474bc; padding: 5px 0px 0px 3px;font-size: 1.35rem;" class="{{font}}">{{textData[1]}}</span>
              <span *ngIf="!i.showLike " style="text-transform: none; color:#808080; padding: 5px 0px 0px 3px;font-size: 1.35rem;" class="{{font}}">{{textData[1]}}</span>
              <!--<span *ngIf="i.n2 == 0"></span>
              <span *ngIf="i.n2 >= 1 && i.showLike" class="{{font}}" style="color:#0474bc;padding-top: 5px;">&nbsp;{{i.likeCount}} {{textData[9]}}</span>
              <span *ngIf="i.n2 >= 1 && !i.showLike" class="{{font}}" style="color:#808080;padding-top: 5px;">&nbsp;{{i.likeCount}} {{textData[9]}}</span>-->
            </button>
          </ion-col>
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear  style="padding: 0px;" (click)="comment(i,'comment')">
              <ion-icon name="ios-text" style="color:#bbb; font-size: 23px;"></ion-icon>
              <span style="text-transform: none; color:#808080; padding: 3px 0px 0px 2px;font-size: 1.35rem;" class="{{font}}">{{textData[2]}}</span>
              <!--<span *ngIf="i.n3 == 0"></span>
              <span *ngIf="i.n3 >= 1" class="{{font}}" style="color:#808080; padding-top: 5px;">&nbsp;{{i.commentCount}} {{textData[9]}}</span>-->
            </button>
          </ion-col>
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-left (click)="share(i)" style="padding: 0px;">
              <ion-icon name="share-alt" style="color: #bbb;"></ion-icon>
              <span style="text-transform: none; color: #808080;font-size: 1.35rem;" class="{{font}}">{{textData[3]}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <h3 style="padding:50px;color:#ccc;font-size:1.9rem;" *ngIf="nores == 0" align="center"> <span class="{{font}}">{{textData[4]}}</span></h3>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isLoading">
    <ion-infinite-scroll-content loadingSpinner="circles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

