page-popover-language {
  .item-radio-checked.item-md ion-label {
    color: #f47957;
  }
  .radio-md .radio-inner {
    background-color: #f47957;
  }
  .radio-md .radio-checked {
    border-color:  #f47957;
  }
}
