<!--
  Generated template for the WriterPostListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="b2b">
    <ion-title><span class="{{font}}">{{textData[0]}}</span></ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center" ><ion-spinner name="circles" style="color: #EB6944;"></ion-spinner></div>
  </div>
  <div *ngIf="nores == 1">
  <ion-list>
    <div *ngFor="let d of pinmenuList;let j = index">
        <ion-item  *ngFor="let i of d.menu_arr; let k = index" (click)="comment(i)">
        <img item-left src="{{photoLink}}{{i.uploadedPhoto[0].t7}}" *ngIf="i.uploadedPhoto.length > 0 && i.t8 =='' && !i.videoStatus" onError="this.src = 'assets/images/imgErr.png'" style="width:50px;height: 50px;margin-right:8px;object-fit: cover;">
        <img item-left src="{{i.videoLink}}" *ngIf="i.videoLink || i.videoStatus || i.t8" style="width:50px;height: 50px;margin-left: 5px;margin-right:5px;object-fit: cover;" onError="this.src = 'assets/images/imgErr.png'">
        <h3>{{i.t1}}</h3>
        <p style="color:#504f4f;">{{i.t2}}</p>
        <span *ngIf=" i.t4 == 'premium'" class="premiumStyle">PREMIUM</span>
        <span style="color:#c5c5c5;font-size:1.3rem;" item-right><p style="font-size: 1.2rem;">{{ i.modifiedDate}}</p><p style="font-size: 1.2rem;text-align:right;">{{ i.modifiedTime}}</p></span>
      </ion-item>  
    </div>

    <!-- end of pin post -->

    <div *ngFor="let d of menuList;let j = index">
    <ion-item  *ngFor="let i of d.menu_arr; let k = index" (click)="comment(i)">
      <img item-left src="{{photoLink}}{{i.uploadedPhoto[0].t7}}" *ngIf="i.uploadedPhoto.length > 0 && i.t8 =='' && !i.videoStatus" onError="this.src = 'assets/images/imgErr.png'" style="width:50px;height: 50px;margin-right:8px;object-fit: cover;">
      <img item-left src="{{i.videoLink}}" *ngIf="i.videoLink || i.videoStatus || i.t8" style="width:50px;height: 50px;margin-left: 5px;margin-right:5px;object-fit: cover;" onError="this.src = 'assets/images/imgErr.png'">
      <h3>{{i.t1}}</h3>
      <p style="color:#504f4f;">{{i.t2}}</p>
      <span *ngIf=" i.t4 == 'premium'" class="premiumStyle">PREMIUM</span>
      <span style="color:#c5c5c5;font-size:1.3rem;" item-right><p style="font-size: 1.2rem;">{{ i.modifiedDate}}</p><p style="font-size: 1.2rem;text-align:right;">{{ i.modifiedTime}}</p></span>
    </ion-item>  
    </div>
  </ion-list>
  </div>
  <h3 style="padding:50px;color:#ccc;font-size:1.9rem;" *ngIf="nores == 0" align="center"> <span class="{{font}}">{{textData[1]}}</span></h3>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!isLoading">
    <ion-infinite-scroll-content loadingSpinner="circles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
