page-edit {

  .img-wrap1 {
    position: relative;
    display: block;
    //display: inline-flex;
    font-size: 0;
  }

  .close {
    position: absolute;
    right: 0.4px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 7px 5px;
    cursor: pointer;
    opacity: .7;
    border-bottom-left-radius: 20%;
  }

  .imgheight{
    height:100px;
    width:100px;
    border-radius: 50px;
    margin-top: -53px;
    //margin-left: -5px;
    object-fit: cover;
  }

  .img-adject:hover .close {
    opacity: 1;
  }

  .list-md .item[no-lines] .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .list-md {
    margin: -1px 0 10px;
  }

  .label-md {
    margin: 13px 8px 13px 0;
    font-family: Unicode;
  }

  .select-text {
    font-family: Unicode;
  }

  .scroll-content {
    padding-top: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff !important;
    border: none;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid white !important;
    width: 14px;
    height: 14px;
    opacity: 1;
  }

  .button-inner
  {
    color: white;
  }

  .item-md
  {
    padding-left: 0px !important;
  }

  /*.changeWidth .popover-md .popover-content{
    max-width: 70% !important;
    min-width: 70% !important;
  }*/

  .list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
    border-bottom: 1;
  }
  
  .edit-content {
    background: #e8e8e8; //#d4534e

    .login-box {
      background: #509287;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 15px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #d14842;//#0d6eb6;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
  
  .button-md {
    height: 4.6rem;
  }

}
